:root {
    --black: #000000;
    --psd-darkest-grey: #212223;
    --key-unpressed: #312f28;
    --key-pressed-shadow: #020202;
    --key-pressed-light: #4c4838;
    --psd-mid-gray: #64676c;
    --psd-dark-gray: #7a8085;
    --screen-white: #b1afa8;
    --psd-lightest-gray: #efefef;
    --psd-light-gray: #e8e4da;
    --white: #ffffff;
    --disko-background: #ffc833;
    --device-yellow: #fbc651;
    --red: #ef5023;
    --muted-red: #e88984;
    --purple: #6c00ff;
    --muted-purple: #9d70db;
    --blue: #306fb6;
    --muted-blue: #5e99d0;
    --green: #2c7d46;
    --muted-green: #60be83;
}
